@{
    ViewBag.Title = "De Brabander";
}

<h2>Korte handleidingen voor gebruik</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Creatie klanten
        <a href="~/Views/FAQ/FAQ.cshtml">~/Views/FAQ/FAQ.cshtml</a>
    </div>
</body>
</html>
