@model DeBrabander.ViewModels.Quotations.QuotationEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
   

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
