
@{
    ViewBag.Title = "Index";
}

<h2>Settings</h2>

<table>
    <tr>
        <td>
            <a href="@Url.Action("Index", "Categories")" class="btn btn-primary">Categorie</a>
        </td>
        <td>
            <a href="@Url.Action("Index", "VATs")" class="btn btn-primary">BTW</a>
        </td>
        <td a href="..." class="btn btn-primary">Emtpy</td>

    </tr>
    <tr>
        <td a href="..." class="btn btn-primary">Emtpy</td>
        <td a href="..." class="btn btn-primary">Emtpy</td>
        <td a href="..." class="btn btn-primary">Emtpy</td>
    </tr>
</table>
