@model DeBrabander.ViewModels.Settings.SettingsViewModel
@{
    ViewBag.Title = "De Brabander";
}

<h2>Instellingen</h2>

<table>
    <tr>
        <td>
            <div class="col-md-10">
                <a href="@Url.Action("Index", "Categories")" class="btn btn-info">Categorie</a>
                </div>
            </td>
        <td>
                <div class="col-md-10">
                    <a href="@Url.Action("Index", "VATs")" class="btn btn-info">BTW</a>
                    </div>
            </td>
        <td>
            <div class="col-md-10">
                <a href="@Url.Action("Edit/1", "Companies")" class="btn btn-info">Bedrijfsgegevens</a>
                </div>
        </td>

        <td>
            <div class="col-md-10">
                <a href="@Url.Action("Edit/1", "UserDefinedSettings")" class="btn btn-info">Scherminstellingen</a>
               </div>
            </td>

    </tr>
</table>
